/*============================
  1. variables
============================*/

// Font import
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: "Albert Sans", serif;
$font-awesome: "Fontawesome";

:root {
  --primary: #3550DC;
  --primary-hover: #213abd;

  --dark: #01060B;
  --black: #000;
  --light: #F3F4F6;
  --white: #fff;

  --light-100: #FEFEFE;
  --light-200: #FDFDFD;
  --light-300: #FBFCFC;
  --light-400: #FAFBFB;
  --light-500: #F9F9FA;
  --light-600: #F8F8FA;
  --light-700: #F7F7F9;
  --light-800: #F5F6F8;
  --light-900: #F4F5F7;
  
  --gray-100: #CED2D4;
  --gray-200: #B6BBBF;
  --gray-300: #9EA4A9;
  --gray-400: #9CA3AF;
  --gray-500: #6D777F;
  --gray-600: #556069;
  --gray-700: #3D4954;
  --gray-800: #24333E;
  --gray-900: #0C1C29;
}
[data-theme="dark"] {
  --dark: #F0F0F3;
  --black: #F0F0F3;
  --light: #0C0C20;
  --white: #030318;

  --light-100: #32323D;
  --light-200: #2A2A37;
  --light-300: #28283A;
  --light-400: #18182D;
  --light-500: #0C0C20;
  --light-600: #0A0A1D;
  --light-700: #0A0A1E;
  --light-800: #08081B;
  --light-900: #08081A;
  
  --gray-100: #232841;
  --gray-200: #3C4056;
  --gray-300: #54586B;
  --gray-400: #6D7080;
  --gray-500: #858896;
  --gray-600: #9D9FAB;
  --gray-700: #B6B7C0;
  --gray-800: #CECFD5;
  --gray-900: #E7E7EA;
}

[data-color="primary"] {
  --primary: #3550DC;
  --primary-hover: #213abd;
}
[data-color="brightblue"] {
  --primary: #4680FF;
  --primary-hover: #135dff;
}
[data-color="lunargreen"] {
  --primary: #365E32;
  --primary-hover: #233d20;
}
[data-color="lavendar"] {
  --primary: #673AB7;
  --primary-hover: #512e90;
}
[data-color="magenta"] {
  --primary: #E83E8C;
  --primary-hover: #d91a72;
}
[data-color="chromeyellow"] {
  --primary: #FF9B04;
  --primary-hover: #d07d00;
}
[data-color="lavared"] {
  --primary: #DC2626;
  --primary-hover: #b21d1d;
}
[data-color="teal"] {
  --primary: #24CDBA;
  --primary-hover: #1ca293;
}
	
// Theme Colors Variables
$primary: var(--primary);
$primary-hover: var(--primary-hover);
$secondary: #FE9738;
$secondary-hover: darken($secondary, 10%);
$success: #01B664;
$success-hover: darken($success, 10%);
$info: #0080FF;
$info-hover: darken($info, 10%);
$warning: #F9B801;
$warning-hover: darken($warning, 10%);
$danger: #FF0000;
$danger-hover: darken($danger, 10%);
$dark: var(--dark);
$light: var(--light);
$white: var(--white);
$black: var(--black);
$purple: #AB47BC;
$pink: #F301CA;
$cyan: #27EAEA;
$teal: #24CDBA;
$orange: #FF7F00;
$violet: #8000FF;

// Primary
$primary-100: #E8EEFE;
$primary-200: #D2DEFC;
$primary-300: #BCCDF9;
$primary-400: #A7BDF6;
$primary-500: #92ACF3;
$primary-600: #7E9BEF;
$primary-700: #6A89EB;
$primary-800: #5777E6;
$primary-900: #4565E1;

// Secondary
$secondary-100: #FFF5ED;
$secondary-200: #FFEBDB;
$secondary-300: #FFE1C9;
$secondary-400: #FFD7B7;
$secondary-500: #FFCDA4;
$secondary-600: #FFC292;
$secondary-700: #FFB87E;
$secondary-800: #FFAD6A;
$secondary-900: #FFA253;

// Pink
$pink-100: #FFEEFF;
$pink-200: #FFDDFF;
$pink-300: #FFCBFF;
$pink-400: #FFB9FF;
$pink-500: #FFA6FF;
$pink-600: #FF92FF;
$pink-700: #FF7CFF;
$pink-800: #FF64FF;
$pink-900: #FF45FF;

// Light
$light-100: var(--light-100);
$light-200: var(--light-200);
$light-300: var(--light-300);
$light-400: var(--light-400);
$light-500: var(--light-500);
$light-600: var(--light-600);
$light-700: var(--light-700);
$light-800: var(--light-800);
$light-900: var(--light-900);

// Gray
$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);

// Info
$info-100: #E9F3FF;
$info-200: #D4E7FF;
$info-300: #BEDBFF;
$info-400: #A9CFFF;
$info-500: #93C3FF;
$info-600: #7DB6FF;
$info-700: #66A9FF;
$info-800: #4E9CFF;
$info-900: #328EFF;

// Success
$success-100: #ECF8EF;
$success-200: #D9F1E0;
$success-300: #C6EAD0;
$success-400: #B3E3C0;
$success-500: #9FDCB1;
$success-600: #8AD4A2;
$success-700: #74CD92;
$success-800: #5CC583;
$success-900: #3EBE74;

// Danger
$danger-100: #FFEDE9;
$danger-200: #FFDAD3;
$danger-300: #FFC8BD;
$danger-400: #FFB5A7;
$danger-500: #FFA191;
$danger-600: #FF8D7B;
$danger-700: #FF7765;
$danger-800: #FF5E4D;
$danger-900: #FF4031;

// Warning
$warning-100: #FFF9ED;
$warning-200: #FFF4DB;
$warning-300: #FEEEC9;
$warning-400: #FEE8B6;
$warning-500: #FEE1A3;
$warning-600: #FDDB8E;
$warning-700: #FDD579;
$warning-800: #FCCE61;
$warning-900: #FCC843;

// Purple
$purple-100: #F7EDF9;
$purple-200: #F0DBF3;
$purple-300: #E8C9ED;
$purple-400: #E0B7E6;
$purple-500: #D7A5E0;
$purple-600: #CF94D9;
$purple-700: #C681D2;
$purple-800: #BD6FCB;
$purple-900: #B45CC3;

// Cyan
$cyan-100: #F0FDFD;
$cyan-200: #E1FCFB;
$cyan-300: #D1FAF9;
$cyan-400: #C0F8F7;
$cyan-500: #AFF6F5;
$cyan-600: #9CF4F3;
$cyan-700: #88F1F0;
$cyan-800: #71EFEE;
$cyan-900: #55EDEC;

// Teal
$teal-100: #EBF4F2;
$teal-200: #D6E9E5;
$teal-300: #C2DED9;
$teal-400: #ADD3CC;
$teal-500: #98C9C0;
$teal-600: #83BEB3;
$teal-700: #6DB3A7;
$teal-800: #56A89B;
$teal-900: #3B9E90;

// Violet
$violet-100: #F0ECFF;
$violet-200: #E1D9FF;
$violet-300: #D3C6FF;
$violet-400: #C5B3FF;
$violet-500: #B89FFF;
$violet-600: #AC8AFF;
$violet-700: #A074FF;
$violet-800: #945CFF;
$violet-900: #8A3FFF;

// Orange
$orange-500: #FFC29A;

$colors: (
  "cyan":    $cyan,
  "purple":     $purple,
  "pink":       $pink,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$theme-colors: (
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "purple": $purple
);

$text-color: var(--gray-500);
$title-color: var(--gray-900);
$sub-title: #6B7280;
$body-bg: var(--white);
$text-muted: #9EA4A9;
$default-background: #F8F9FA;
$black-bg: #141432;
$input-bg: #2c2c50;
$form-control-bg: var(--white);

// Social Icons Colors
$facebook: #3B5998;
$twitter: #00ACEE;
$google: #DD4B39;
$linkedin: #0E76A8;
$youtube: #C4302B;
$instagram: #3F729B;
$pinterest: #cc2127;
$skype: #00AFF0;
$email: #6567A5;
$appstore: #000;

// Gradient Variables
$primary-transparent: #EDF1FE;
$secondary-transparent: #FFFAF6;
$success-transparent: #EEF9F1;
$warning-transparent: #FFFCF6;
$danger-transparent: #FFF6F4;
$info-transparent: #E9F3FF;
$pink-transparent: #FFF7FF;
$light-transparent: #FEFEFE;
$dark-transparent: #E6E8E9;
$purple-transparent: #FBF6FC;
$cyan-transparent: #F8FEFE;
$orange-transparent: #FFF9F5;
$teal-transparent: #F5F9F8;
$violet-transparent: #F7F5FF;
$primary-gradient: linear-gradient(180deg, #3550DC 0%, #101F6A 100%);
$primary-gradient-100: linear-gradient(135.02deg, #EDF0FF 35.76%, #FFFFFF 106.08%);
$secondary-gradient: linear-gradient(161.69deg, #FE9738 18.83%, #FF7A00 88.52%);
$secondary-gradient-100: linear-gradient(152.93deg, #FFF3E8 16.91%, #FFFFFF 100.77%);
$success-gradient: linear-gradient(180deg, #01B664 0%, #00DE79 100%);
$warning-gradient: linear-gradient(180deg, #F9B801 0%, #F3B400 100%);
$danger-gradient: linear-gradient(180deg, #FF0000 0%, #D50000 100%);
$info-gradient: linear-gradient(180deg, #0080FF 0%, #0059B0 100%);
$light-gradient: linear-gradient(180deg, #F3F4F6 0%, #E6E6E6 100%);
$light-gradient-100: linear-gradient(90deg, #F3F4F6 0%, #FFFFFF 100%);
$dark-gradient: linear-gradient(180deg, #01060B 0%, #00264D 100%);
$pink-gradient: linear-gradient(180deg, #FFA795 0%, #FFFFFF 100%);
$purple-gradient: linear-gradient(180deg, #8E4BEB 0%, #472282 100%);
$teal-gradient: linear-gradient(180deg, #E6F9FF 0%, #FFFFFF 100%);
$orange-gradient: linear-gradient(175.15deg, #FF9966 3.91%, #FF5E62 96.09%);
$gradient-purple: linear-gradient(180deg, #667CE8 0%, #754EA7 100%);
$blue-gradient: linear-gradient(180deg, #18ACCF 0%, #0F59AD 100%);
$maroon-gradient: linear-gradient(175.15deg, #DB1F80 3.91%, #52002B 96.09%);
$lightblue-gradient: linear-gradient(176.09deg, #AE7BD4 3.2%, #4471CC 96.55%);
$darkblue-gradient: linear-gradient(174.21deg, #0D55A7 4.61%, #091D37 95.75%);
$violet-gradient: linear-gradient(175.15deg, #F25965 3.91%, #940C33 96.09%);
$darkgreen-gradient: linear-gradient(175.15deg, #3F484F 3.91%, #002D43 96.09%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
/*$link-hover-color: darken($link-color, 10%);*/
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $gray-100;
$default-border: $gray-100;
$input-border: $gray-100;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 14px 0px rgba(186, 186, 186, 0.25);
$box-shadow-xs: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
$box-shadow-sm: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
$box-shadow-md: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
$drop-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;


$dark-green: #111926;

$dark-green: #111926;
$night-blue: #0F0F41;
$dark-gray: #2E2E48;
$royal-blue: #0039C6;
$indigo: #391694;
$darkaqua: #116D6E;
$whiterock: #F0E4D7;
$rockblue: #8CB9BD;
$bluehaze: #B5C0D0;
$brightblue:  #2066FF;
$lunargreen: #365E32;
$lavendar: #673AB7;
$magenta: #E83E8C;
$chromeyellow: #FF9B04;
$lavared: #DC2626;
$blackpearl: #080821;
$maroon: #710034;
$bluegem: #3E1C95;
$firefly: #053333;
$gray-color: #E5E7EA;
